{include file="public/header" /}
<script src="__ADM_PUBLIC__/js/Distpicker/js/distpicker.data.js"></script>
<script src="__ADM_PUBLIC__/js/Distpicker/js/distpicker.js"></script>
</head>
<body>
<div id="main-container">
    {include file="public/menu" /}
    <div class="main">
        <div class="notice">{$position.url}</div>
        <div class="main_content">

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>{$position.name}</legend>
            </fieldset>


            <div class="layui-form">
                <form>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label sou_lablem">机器码</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="number_no" value="{:input('get.number_no')}" autocomplete="off" class="layui-input">
                            </div>

                            <label class="layui-form-label sou_lablel">状态</label>
                            <div class="layui-input-inline" style="width: 90px;">
                                <select name="status">
                                    {$status}
                                </select>
                            </div>

                            <label class="layui-form-label sou_lablel">楼层</label>
                            <div class="layui-input-inline" style="width: 50px;">
                                <input type="text" id="floors" value="{:input('get.floors')}" name="floors" autocomplete="off" class="layui-input">
                            </div>

                            <label class="layui-form-label sou_lablem">大厦名</label>
                            <div class="layui-input-inline" style="width: 120px;">
                                <input type="text" id="name" value="{:input('get.name')}" name="name" autocomplete="off" class="layui-input">
                            </div>

                            <label class="layui-form-label sou_lableg">大厦地址</label>
                            <div class="layui-input-inline" style="width: 425px;" id="distpicker" data-toggle="distpicker" data-autoselect="2">
                                <select lay-ignore  name="province" class="box_select"></select>
                                <select lay-ignore name="city" class="box_select"></select>
                                <select lay-ignore name="area" class="box_select"></select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-inline" style="width: 190px;">
                            <button class="layui-btn layui-btn-lg" lay-submit lay-filter="formDemo">
                                <i class="layui-icon">&#xe615;</i>
                                搜索
                            </button>
                            <button class="layui-btn layui-btn-lg" type="button" onclick="window.location.href='{:url('addBox')}'">
                                <i class="layui-icon">&#xe61f;</i>
                                增加
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table" v-el:table>
                <table>
                    <thead>
                    <tr>
                        <th class="sort" width="60"><span>ID</span></th>
                        <th width="100"><span>机器码</span></th>
                        <th width="100"><span>大厦名</span></th>
                        <th class="sort" width="150"><span>地址</span></th>
                        <th class="sort" width="150"><span>摆放楼层</span></th>
                        <th width="100"><span>时间</span></th>
                        <th width="100"><span>状态</span></th>
                        <th width="100"><span>操作</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="content.list" item="v"}
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.number_no}</td>
                        <td>{$v.name}</td>
                        <td>{$v.province}-{$v.city}-{$v.area}，{$v.address}</td>
                        <td>{$v.floors}</td>
                        <td>{$v.createtime}</td>
                        <td>
                            <a href="javascript:;" class="change_status" data-id="{$v.id}" data-change="{$v.status}"> <div class="layui-unselect layui-form-switch {if condition="$v.status eq 1"}layui-form-onswitch{/if}"><i></i></div> </a>
                        </td>
                        <td>
                            <a class="btn do-action" data-type="doEdit" data-href="{:url('editBox')}" data-id="{$v.id}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;编辑</a>
                        </td>
                    </tr>
            {/foreach}
            </tbody>
            </table>
            {$content.page}
        </div>
    </div>
</div>
</div>
<script type="text/javascript">

    $('#distpicker').distpicker({$curr_pca});

    layui.use(['layer', 'form'], function () {
        var $ = layui.jquery, layer = layui.layer;

        //0黄色感叹号，1笑脸，2错误，3问号，4灰色锁，5哭脸
        $(document).on('click','.change_status', function () {
            var id=$(this).attr('data-id');
            var obs=$(this);
            var status = obs.attr('data-change');
            $.ajax({
                url: '{:url("delBox")}',
                dataType: "json",
                data:{'ids':id, 'status':status},
                type: "POST",
                success: function(data){
                    if(data.code == 1){
                        if(status == 1){
                            obs.attr('data-change', 2);
                            obs.find('div').removeClass('layui-form-onswitch');
                        }else{
                            obs.attr('data-change', 1);
                            obs.find('div').addClass('layui-form-onswitch');
                        }
                        layer.msg(data.msg,{icon:data.icon,time:1500,shade: 0.1,});
                    }else{
                        layer.msg(data.msg,{icon:data.icon,time:1500,shade: 0.1,});
                    }
                },
                error:function(ajaxobj)
                {
                    if(ajaxobj.responseText!='')
                        alert(ajaxobj.responseText);
                }
            });
        });
    });
</script>
</body>
</html>