{include file="public/header" /}
</head>
<body>
<div id="main-container">
    {include file="public/menu" /}
    <div class="main">
        <div class="notice">{$position.url}</div>
        <div class="main_content">
            <div class="title">
                <span>{$position.name}</span>
            </div>
            <form  class="layui-form layui-form-pane" id="formrec" method="post" role="form">
                <div class="layui-form-item">
                    <label class="layui-form-label">商品名</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="name" type="text" placeholder="商品名" required  lay-verify="name" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">价格</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="price" type="text" placeholder="价格" required  lay-verify="price" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">产地</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="product_area" type="text" placeholder="产地" required  lay-verify="product_area" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">基本单位</label>
                    <div class="layui-input-inline">
                        <select name="unit" lay-verify="unit" >
                            {$unit}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品类型</label>
                    <div class="layui-input-inline">
                        <select name="type" lay-verify="type" >
                            {$type}
                        </select>

                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" checked name="status" lay-skin="switch" lay-filter="switchTest" title="开关"><div class="layui-unselect layui-form-switch layui-form-onswitch"><i></i></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <input type="hidden"  name="submit_type" value="add"/>
                        <button class="btn" lay-submit="" lay-filter="add-role" data-href={:url('addProduct')}>提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form','common'], function(){
        var $ = layui.jquery,common=layui.common,form = layui.form();

        form.verify({
            name:[/^[\u4E00-\u9FA5a-zA-Z]+$/, '商品名必须是中文或英文'],
            price: [/(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/, '价格必须是整数或者保留2位小数']
            ,product_area:[/^[\u4E00-\u9FA5a-zA-Z]+$/, '产地必须是中文或英文']
            ,unit:[/^[1-9]{1,3}$/, '请选择单位']
            ,type:[/^[1-9]$/, '类型必填且必须为整数']
            //,phone: [/^1[3|4|5|7|8]\d{9}$/, '手机必须11位，只能是数字！']
            //,email: [/^[a-z0-9._%-]+@([a-z0-9-]+\.)+[a-z]{2,4}$|^1[3|4|5|7|8]\d{9}$/, '邮箱格式不对']
        });

        //监听提交
        form.on('submit(add-role)', function(data){
            var sub=true;
            var url=$(this).data('href');
            if(url){
                if(sub){
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: data.field,
                        success: function (info) {
                            if (info.code == 1) {
                                common.layerAlertSHref(info.msg, '提示', "{:url('product/index')}");
                            }
                            else {
                                common.layerAlertE(info.msg, '提示');
                                $(data.elem).removeAttr("disabled").text("提交");
                            }
                        },
                        beforeSend: function () {
                            $(data.elem).attr("disabled", "true").text("提交中...");
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            common.layerAlertE(textStatus, '提示');
                        }
                    });
                }
            }else{
                common.layerAlertE('链接错误！', '提示');
            }
            return false;
        });
    });
</script>
</body>
</html>