{include file="public/header" /}
</head>
<body>
<div id="main-container">
    {include file="public/menu" /}
    <div class="main">
        <div class="notice">{$position.url}</div>
        <div class="main_content">

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>{$position.name}</legend>
            </fieldset>

            <div class="layui-form">
                <form id="form1">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label sou_lableg">商品名称</label>
                            <div class="layui-input-inline" style="width: 120px;">
                                <input type="text" name="name" value="{:input('get.name')}" autocomplete="off" class="layui-input">
                            </div>
                            <label class="layui-form-label sou_lableg">商品产地</label>
                            <div class="layui-input-inline" style="width: 120px;">
                                <input type="text" id="product_area" value="{:input('get.product_area')}" name="product_area" autocomplete="off" class="layui-input">
                            </div>

                            <label class="layui-form-label sou_lableg">商品类型</label>
                            <div class="layui-input-inline" style="width: 150px;">
                                <select name="type">
                                    <option value="0">全部</option>
                                    {$type}
                                </select>
                            </div>

                            <label class="layui-form-label sou_lablel">状态</label>
                            <div class="layui-input-inline" style="width: 90px;">
                                <select name="status">
                                    {$status}
                                </select>
                            </div>

                            <div class="layui-input-inline" style="width: 190px;">
                                <button class="layui-btn layui-btn-lg sub_btn" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                    搜索
                                </button>
                                <button class="layui-btn layui-btn-lg" type="button" onclick="window.location.href='{:url('addProduct')}'">
                                    <i class="layui-icon">&#xe61f;</i>
                                    增加
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table" v-el:table>
                <table>
                    <thead>
                    <tr>
                        <th class="sort" width="60"><span>ID</span></th>
                        <th width="100"><span>商品名称</span></th>
                        <th class="sort" width="150"><span>价格</span></th>
                        <th width="100"><span>产地</span></th>
                        <th width="50"><span>规格</span></th>
                        <th width="100"><span>商品类型</span></th>
                        <th width="100"><span>时间</span></th>
                        <th width="100"><span>状态</span></th>
                        <th width="100"><span>操作</span></th>
                    </tr>
                    </thead>
                    
                
                    <script id="arlist" type="text/html">
                            {{# for(var i=0;i<d.length;i++){  }}
                            <tr class="long-td">
                                <td>{{d[i].id}}</td>
                                <td>{{d[i].name}}</td>
                                <td>{{d[i].price/100}}</td>
                                <td>{{d[i].product_area}}</td>
                                <td>{{trans(unit, d[i].unit)}}</td>
                                <td>{{trans(goods_type, d[i].type)}}</td>
                                <td>{{d[i].createtime}}</td>
                                <td>
                                    <a href="javascript:;" class="change_status" data-id="{{d[i].id}}" data-change="{{d[i].status}}"> 
                                    <div class="layui-unselect layui-form-switch 
                                        {{# if(d[i].status==1){ }}
                                            layui-form-onswitch
                                        {{# } }}">
                                        <i></i></div> 
                                        </a>
                                </td>
                                <td>
                                    <a class="btn do-action" data-type="doEdit" data-href="{{edit_product}}" data-id="{{d[i].id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;编辑</a>
                                </td>
                            </tr>
                            {{# } }}
                    </script>
                    <tbody id="article_list"></tbody>    
                
                
                </table>
        </div>

        <div id="AjaxPage" style="float: right;margin-top:-10px; "></div>
                <div class="CountPage" style="float: right;clear:both; margin-right:15px; margin-top:-5px;">
                    共 <span id="all_total">{$count}</span> 条 <span id="allpage"></span>
                </div>
                <div style="clear:both;"></div>
    </div>
</div>
</div>
<script type="text/javascript">

    var laytpl,laypage;
    var url='{:url("product/index")}';
    var allpages='{$allpage}';
    var goods_type = {$goods_type};
    var unit = {$unit};
    var edit_product = '{:url("product/editproduct")}';

    function trans(goods_type,keys){
        for(var p in goods_type)
        {
           if(p == keys){
              return goods_type[p]; 
           }
        }
    }
    
    layui.use(['layer', 'form','laypage','common', 'icheck','laytpl'], function () {
        var $ = layui.jquery, layer = layui.layer, common = layui.common, form = layui.form();
        $form = $('form');
        laytpl =layui.laytpl;
        laypage = layui.laypage;

        $('.sub_btn').click(function(){
            allpages='{$allpage}';
            url = '{:url("product/index")}' + '?' + $('#form1').serialize();
            common.Ajaxpage(1);
            return false;
        })
        
        common.Ajaxpage();

        //0黄色感叹号，1笑脸，2错误，3问号，4灰色锁，5哭脸
        $(document).on('click','.change_status', function () {
            var id=$(this).attr('data-id');
            var obs=$(this);
            var status = obs.attr('data-change');
            $.ajax({
                url: '{:url("delProduct")}',
                dataType: "json",
                data:{'ids':id, 'status':status},
                type: "POST",
                success: function(data){
                    if(data.code == 1){
                        if(status == 1){
                            obs.attr('data-change', 2);
                            obs.find('div').removeClass('layui-form-onswitch');
                        }else{
                            obs.attr('data-change', 1);
                            obs.find('div').addClass('layui-form-onswitch');
                        }
                        layer.msg(data.msg,{icon:data.icon,time:1500,shade: 0.1,});
                    }else{
                        layer.msg(data.msg,{icon:data.icon,time:1500,shade: 0.1,});
                    }
                },
                error:function(ajaxobj)
                {
                    if(ajaxobj.responseText!='')
                        alert(ajaxobj.responseText);
                }
            });
        });
    });
</script>
</body>
</html>